
.navBar {
    z-index: 999;
    position: fixed;
    bottom: 0vh;
    transition: bottom 1s;
    height: 8vh;
    width: 100%;
    background-color: white;
    box-shadow: 0 -5px 5px -5px #dedede;
}

.navIcon path {
    fill: white !important;
    stroke: #5C747B !important;
}

.navIconSelected path {
    fill: white !important;
    stroke: #6EC8DE !important;
}

.navBar-hidden {
    position: fixed;
    bottom: -8vh;
}