.bravoModal>.modal-content {
    width: 80%;
    height: 50vh;
}

.bravoModal {
    width: 95%;
}

.title {
    font-weight: 900;
    font-size: 1em;
    color: #5C737B;
}

.author {
    position: relative;
    width: 8vw;
    height: 8vw;
    top: -106%;
    right: -79%;
}

.author>div {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.author>div>img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}